<% provide(:title, "About") %>
<h2>About</h2>
<p>Step Me There is intended to make acheiving your daily step count more attainable. The app leverages the Google Maps API and an algorithmic search to find a route with a step count that is close to your desired steps.</p>
