<% provide(:title, "Home") %>
<h2 class="center">Calculate Route:</h2>

<div id="form">
  <form class="center" id="calculate-route" name="calculate-route" action="#" method="get">
      <p>
        <label>First address: </label>
        <input type="text" name="address1" id="from" size="50"/>
        <a class="getlocation" id="from-link" href="#">Get my position</a>
      </p>
      <p>
         <label>Second address: </label>
         <input type="text" name="address2" id="to" size="50"/>
         <a class="getlocation" id="to-link" href="#">Get my position</a>
      </p>
         <label>Step Count: </label>
         <input type="integer" name="steps" id="steps" size="10"/>
      <input type="button" id="submit" value="Show"  onclick="initialize();"/>
  </form>
</div>

<div id = "map_route">
  <div id="map_canvas"></div>
  <div id="directions-panel"></div>
</div>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>


