/* header */

body > header > div > nav > ul > li {
    margin-top:15px
}

body > header > div {
    border-bottom: 1px solid #7F7F7F;
}


#logo {
  float: left;
  font-weight: 200;
  margin-right: 10px;
  font-size: 2em;
  color: #7F7F7F;
  letter-spacing: -1px;
  padding-top: 9px;
  &:active, &:hover {
    -moz-box-shadow: 0 2px tomato;
    -webkit-box-shadow: 0 2px tomato;
    box-shadow:  0 2px tomato;
  }
  img{
    width:206px;
    height:68px;
    border-radius:8px;
  }
}