@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:400,700|Amatic+SC);

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */


body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: black;
  font-family:  "Josefin Slab", serif;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 2em;
  color: GhostWhite;
  text-transform: downcase;
  font-family: 'Amatic SC', serif;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: LightYellow;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/*map settings */

.adp {
  font-family: "Josefin Slab", serif;
  background-color: white;
  height: 610px;
  overflow:scroll;
}

.warnbox-content {
    background-color: Tomato;
}

.adp-placemark {
    display:none;
}

.adp-summary {
    display:none;
}


#directions-panel > div > div > div:nth-child(2) > table > tbody > tr > td:nth-child(2) {
  display:none;
}

#directions-panel > div > div:nth-child(4) > div:nth-child(2) > table > tbody > tr:nth-child(5){
    border-bottom: 1px LightGray solid;
}


#directions-panel > div > div > div > table > tbody > tr > td:nth-child(2){
    display:none;
}
 
#directions-panel > div > div > div > table > tbody > tr{
    width: 100%;
    font-family: 'Josefin Slab', serif;
    font-size:1.3em;
}

#directions-panel > div > div > div > table > tbody > tr{
    width: 100%;
    font-family: 'Josefin Slab', serif;
}


.adp-directions{
    width:100%;
}

.adp{
    margin-top: -10px;
}

.adp-distance {
    float:right;
}

#map_canvas {
  width: 70%;
  float: left;
  border: 2px solid LightGray;
  height: 600px;
}

#directions-panel {
    height: 100%;
    float: left;
    width: 30%;
    overflow: scroll;
    border: 2px LightGray solid;
  }

#map_route {
  margin: 0 auto;
  height: 500px;
  width: 100%;
  display:none;
}

.adp-legal{
  font-size: .6em;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

#from, #to{
    margin-bottom:-5px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid lightgray;
  width: 100%;
  @include box_sizing;
  margin-bottom:10px;
}

body > div > h2 {
    margin: 2px;
    color: midnightblue;
}

input {
  height: auto !important;
}
.getlocation{
  font-size:.8em;
  padding-top: -10px;
  text-transform:lowercase;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}
/* media  options*/

@media screen and (max-width: 695px) {
	.nav {
		position: relative;
		min-height: 40px;
    float:right;
    margin-left: -60px;
	}	
	.nav ul {
		width: 69px;
		padding: 5px 0;
		position: absolute;
		top: 0;
		left: 0;
		background: #222222 url('https://scontent-2.2914.fna.fbcdn.net/hphotos-xpa1/v/t1.0-9/11203150_2656543167942_3759237938736669516_n.jpg?oh=58098c7ae8b475f16194188daab6e9de&oe=55DC1DA6') no-repeat;
    background-position: right center;
		border-radius: 5px;
		box-shadow: 0 1px 2px rgba(0,0,0,.3);
	}
	.nav li {
		display: none; /* hide all <li> items */
		margin: 0;
    color: #222222;
	}
	.nav .current {
		display: block; /* show only current <li> item */
	}
	.nav a {
		display: block;
		padding: 5px 5px 5px 32px;
		text-align: left;
	}
	.nav .current a {
		background: none;
		color: #521dcf;
	}

	/* on nav hover */
	.nav ul:hover {
		background-image: none;
	}
	.nav ul:hover li {
		display: block;
		margin: 0 0 5px;
	}
	.nav ul:hover .current {
		background: url(images/icon-check.png) no-repeat 10px 7px;
	}

	/* right nav */
	.nav.right ul {
		left: auto;
		right: 0;
	}

	/* center nav */
	.nav.center ul {
		left: 50%;
		margin-left: -90px;
	}
#map-canvas {
  display:none;
}
.form{
  height:100%;
  width: 100%;
}
#map_canvas{
    height:50%;
    width: 100%;
    min-height: 400px; 
}

.adp{
    width:100%; 
}

#directions-panel {
    width:100%;
    height:50%;
    max-height: 200px;
    overflow:scroll;
}

#step-count{
    height:45px;
    font-size:.8em;
} 

}


form label{
  font-size: 1.2em;
  font-family:  "Josefin Slab", serif; 
  font-weight: normal;
  text-transform: lowercase;
}

/*modal */
#overlay {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
}

#overlay div {
     width: 100%;
     height:100%;
     margin: 100px auto;
     background-color: #fff;
     border:1px solid midnightblue;
     padding:15px;
     text-align:center;
     font-family: 'Amatic SC', serif;
}

.route {
  display:none;
  font-family:  "Josefin Slab", serif;
}

body > div.container > a {
    visibility: hidden;
}

#step-count {
    font-family: "Josefin Slab";
    font-size: 1.3em;
    width: 70%;
    border: 2px LightGray solid;
    float:left;
    overflow:scroll;
}

.map {
  display: none;
  float:left; 
  width: 30%;
  height:45px;
  background-color: tomato;
  text-transform: lowercase;
  font-family: "Josefin Slab", serif;
  font-size: 1.2em
}

.reset_box{
  width: 100%;
  clear: both;
}

#map-canvas{
  height:100%;
}

.map_hide {
  display: none;
}

.wide{
  width:100%;
}

